.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: black;
  color: #ffff;
  padding: 8px;
  border-radius: 12px;
  height: 100%;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
  cursor: pointer;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
